.summary {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  max-height: 10rem;
  gap: 0.5rem;
}

.summary ul {
    padding-left: 1rem;
    margin: 0;
    list-style: none;
}

.summary li {
    font-size: small;
}
