.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-items: center;
}

.title {
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: rgb(54, 54, 54);
}

.value {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.badge {
  display: flex;
  place-items: center;
  place-content: center;
  border-radius: 12px;
  background-color: white;
  width: 40px;
  height: 32px;
  text-align: center;
}

.action {
  display: flex;
  gap: 0.5rem
}

.action button {
  width: 2em;
  height: 1.2em;
  padding: 0;
  font-size: larger;
  padding-bottom: 1.5em;
}
