.cartCard {
    gap: 1rem;
}

.title {
    align-self: flex-start;
    text-align: start;
    font-weight: bold;
}

.action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem
}