.foodItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid grey;
}

.title {
    font-weight: bold;
}

.foodInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}
