.formLabel {
  grid-area: label;
  /* justify-self: end; */
}

.formInput {
  grid-area: input;
  padding-left: 0.6rem;
  width: 50px;
  height: 40px;
}

.formAction {
  grid-area: action;
}

.itemForm {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "label label input"
    ". action action";
  align-items: flex-end;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  place-items: center end;
}
