.menu {
    padding: 1rem;
}

.menuCard {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 678px) {
  .menu {
    width: 40rem;
  }
}

.title {
  align-self: flex-start;
  text-align: start;
  font-weight: bold;
}
