.menu {
    padding: 1rem;
    margin: 5.5rem auto;
}

.menuCard {
  width: 100%;
}

@media (min-width: 678px) {
  .menu {
    width: 40rem;
  }
}

.title {
  align-self: flex-start;
  text-align: start;
  font-weight: bold;
}
